
/* Back Button */
.backBtn {
    background-color: #1d262f;
    border: none;
    color: white; 
    font-size: 25px;
    cursor: pointer;
    margin-left: 35px;
    z-index: 1;
}

/* Content in Card Format */
.card {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    justify-content:center
}

/* Card hover animation */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Form Field Container*/
.dataCtn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}

/* Form for edit */
form {
	padding: 10px 30px;
    width: 100%;
}

/* Input Container */
.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding: 40px 0px 20px;
}

/* Input Container Label*/
.inputLabel {
	color: #4298F5;
    font-weight: bold;
    font-size: 19px;
	position: absolute;
	top: 1rem;
}

/* Input Container form field*/
#dialogueIdIpt, #dialogueDescIpt, #npcIdIpt, #npcIdIpt, #dialogueDescIpt, #plotIdIpt, #stateIdIpt, #plotIdIpt, #stateIdIpt {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #4298F5; 
	font-size: 17px;
    color: grey;
	padding: 5px 0;
    width: 100%;
}


/* Submit Button Container */
.btnCtn {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    padding-top: 0px;
}

/* Submit Button */
#submitBtn, #deleteDialogue {
	padding: 10px;
	font-size: 18px;
	background-color: #4298F5;
    cursor: pointer;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    margin-inline: 10px;
    margin-top: 0px;
}

#submitBtn:active, #submitBtn:focus, #deleteDialogue:active, #deleteDialogue:focus {
    border-color: rgba(12, 5, 217, 0.327);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #F59F42;
	outline: 0;
}

#submitBtn:hover, #deleteDialogue:hover {
    transform: translateY(-1px);
} 

/* Delete Button */
#deleteNpc {
	padding: 10px;
	font-size: 18px;
	background-color: #4298F5;
    cursor: pointer;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    margin-inline: 10px;
    margin-top: 0px;
}

#deleteNpc:active, #deleteNpc:focus {
    border-color: rgba(12, 5, 217, 0.327);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #F59F42;
	outline: 0;
}

#deleteNpc:hover {
    transform: translateY(-1px);
}

/* Search Bar Container  */
.searchCtn {
    padding: 0px 30px 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color:#1d262f
}

/* Search Bar Container Images */
.searchCtnImg {
    height: 40px;
}

/* Search Bar */
.searchBar{
    width: 60%;
    height: 60px;
    display: flex;
    margin: auto;
    
}

/* Search Input from Search Bar */
#searchInput {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 15px 45px 15px 15px;
    transition: all .4s;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 6px 0px 0px 6px;
    border:none;
}

/* Search Icon from Search Bar */
#searchIcon {
    width: 20%;
    font-size: 19px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 0px 6px 6px 0px;
    border:none;
}

/* Search Bar Animation*/
#searchInput:focus, #searchIcon:active{
    border:none;
    outline:none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
}

/* Text Content Section */
.textContainer {
    text-align: center;
    padding: 0px 30px;
}

h2 {
    text-align: center;
}

#dataCtn {
    background-color: #1d262f;
}